/* import React from "react";
import "./App.css";
import Data from "./Components/Data";

class App extends React.Component {
  render() {
    var informations = [
      {
        id : 1,
        province : 'Thái Bình',
        district : 'Đông Hưng',
        population : '134038'
      },
      {
        id : 2,
        province : 'Thái Bình',
        district : 'Hưng Hà',
        population : '154038'
      },
      {
        id : 3,
        province : 'Nam Định',
        district : 'Hải Hậu',
        population : '75917'
      }
    ];
    let elements = informations.map((anything,index) => {
      let result = <Data key={anything.id}
      province={anything.province}
      district={anything.district}
      population={anything.population}
      />
      return result;
    })
    return (
      <div className="container">
        {elements}
      </div>
    );
  }
}

export default App; */
