.footer {
    background-color: #D7D7D7;
    margin-top:-100px;
    padding-top: 20px;
}
.footer a{
    color:black;
}
.footer a:hover{
    text-decoration: none;
    color:gray;
}
/* .footer-content{
    display:flex;
    padding:30px 0;
}
.footer-content .footer-left{
    width:75%;
}
.footer-content .footer-left a{
    color:gray;
    margin:20px 10px;
}
.footer-content .footer-left a:hover{
    text-decoration:none;
}
.footer-content .footer-right{
    width:25%;
    padding-left:20px;
}
.footer-content .footer-right a{
    color:gray;
    margin: 0 10px;
}
.footer-content .footer-right a:hover{
    color:black;
}
@media screen and (max-width:768px){
    .footer-content .footer-right{
        padding-left:-10px;
    }
    .footer-content .footer-right a{
        margin:0 5px;
    }
    .footer-content .footer-right i{
        width:5%;
    }
}
@media screen and (max-width:576px){
    .footer-content .footer-right a{
        margin:0 3px;
    }
    .footer-content .footer-right a i{
        width:6%;
    }
} */