* {
	margin: 0;
	padding: 0;
}
.button {
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	background-color: #8888;
	border: none;
	color: #fff;
}
.textview {
	width: 204px;
	margin: 2px;
	font-size: 25px;
	padding: 5px;
	border: none;
	color: #607d8b;
}
.main {
	position: absolute;
	top: 20%;
	left: 40%;
}
