.book-day {
	margin-top:50px;
}
.book-day h3{
	text-align:center;
	font-size:25px;
	margin:20px auto;
	font-weight:bold;
}
.book-day img.row-1{
	margin:20px 50px;
}
.book-day img.row-2{
	margin:20px 0;
}
.book-day h3{
	margin-top:60px;
}
@media screen and (max-width: 1140px){
	.book-day img.row-1{
		margin-left:0;
	}
}
@media screen and (max-width:576px){
	.book-day img.row-2{
		margin-left:-25px;
	}
}