.infor .row h3{
	font-size:25px;
}
.infor .row p{
	font-size:20px;
}
.infor .dongtay-1 img{
	padding-top:45px;
}
@media screen and (max-width: 992px){
	.infor .row h3{
		font-size:20px;
	}
	.infor .row p{
		font-size:16px;
	}
	.infor .row .text-2{
		margin:0;
	}
}
@media screen and (max-width: 768px){
	.infor .row h3{
		font-size:16px;
	}
	.infor .row p{
		font-size:16px;
	}
	.infor .row .text-2{
		margin:0;
	}
	.infor .dongtay-1 img{
		padding-top:20px;
	}
}
@media screen and (max-width: 576px){
	.infor .row h3{
		font-size:14px;
	}
	.infor .row p{
		font-size:16px;
	}
	.infor .row .text-2{
		margin-top:10px;
	}
	.infor .dongtay-1 img{
		padding-top:10px;
	}
}
@media screen and (max-width: 414px){
	.infor .row p{
		font-size:10px;
	}
	.infor .dongtay-1 img{
		padding-top:0;
	}
}