.body{
    color:gray;
    font-family: 'Inconsolata', monospace;
    width:100%;
}
/* -----body------ */

/* ------navbar------ */
.navbar{
    width:100%;
}
.navbar a.navbar-brand{
    font-size:30px;
    margin-left:-25px;
}
.navbar ul{
    padding-left:250px;;
}
.navbar .collapse ul li a{
    margin-left:60px;
    font-size: 16px;
    font-family: 'playfair_display';
}
@media screen and (max-width:1200px){
    .navbar ul{
        padding-left:200px;
    }
    .navbar .collapse ul li a{
        margin:0 15px;
    }
}
@media screen and (max-width:992px){
    .navbar ul{
        padding-left:120px;
    }
    .navbar .collapse ul li a{
        margin:0 10px;
    }
}
@media screen and (max-width:768px){
    .navbar ul{
        padding-left:40px;
    }
    .navbar .collapse ul li a{
        margin:0 3px;
        font-size:14px;
    }
}
/* ------nav-bar--------- */

/* ------banner------ */
.banner img{
    opacity: 0.5;
    transition: opacity 1s linear;
}
.banner img:hover{
    opacity: 1;
}
/* --------banner------ */

/* ------content-1------ */
.content{
    padding:50px 180px;
}
.content .row-1{
    margin: 60px auto;
}
.content .row-2{
    padding: 60px auto;
}
.row img{
    opacity:0.5;
    transition:opacity 1s linear;
    margin-bottom:20px;
}
.row img:hover{
    opacity:1;
    transition:opacity 1s linear ;
}
h6 a{
    font-size:18px;
    color:gray;
    top:20px;
    opacity: 0.5;
    font-style: italic;
}
h6 a:hover{
    opacity: 0.5;
    color:gray;
    text-decoration: none;
}
h2 a{
    color:gray;
    font-size:30px;
    padding:20px auto;
    opacity:0.5;
    transition: opacity 2s linear;
}
h2 a:hover{
    color:black;
    opacity:1;
    text-decoration: none;
}
.content p{
    font-size:16px;
}
@media screen and (max-width:1200px){
    .content{
        padding: 50px 80px;
    }
}
@media screen and (max-width:992px){
    .content{
        padding: 30px 50px;
    }
    h6 a{
        font-size:18px;
    }
    h2 a{
        font-size:20px;
    }
}
@media screen and (max-width:768px){
    .content{
        padding : 10px 0;
    }
    h6 a{
        font-size: 15px;
    }
    h2 a{
        font-size: 18px;
    }
    .content p{
        font-size:14px;
    }
}
/* -------content-1------ */

/* ------sign-up------ */
.sign-up{
    background-color: #D7D7D7;
    height:150px;
}
.sign-up p{
    font-size:32px;
    top:30px;
}
.sign-up input{
    width:20%;
    border:none;
    outline: none;
    border-bottom:1px solid black;
    background-color:#D7D7D7;
}
.sign-up .input{
    position: relative;
}
.sign-up .send i{
    position: absolute;
    margin-left:-20px;
    color:black;
    /* transform: rotate(60deg); */
}
@media screen and (max-width:992px){
    .sign-up input{
        width:25%;
    }
}
@media screen and (max-width:768px){
    .sign-up input{
        width:30%;
    }
}
@media screen and (max-width:576px){
    .sign-up input{
        width:40%;
    }
}
/* --------sign-up------- */

/* ------content-2 and load-more------ */
.load-more button a {
    color: #626262;
    text-decoration: none;
}
.load-more {
    margin: 33px 0 135px;
}
.button {
    text-align: center;
    transition: all 0.5s;
    width: 165px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid black;
}
.button a {
    color: #626262;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
/* ------content-2 and load-more------ */


/* ------footer------ */
.footer {
    background-color: #D7D7D7;
}
.footer-content{
    display:flex;
    padding:30px 0;
}
.footer-content .footer-left{
    width:75%;
}
.footer-content .footer-left a{
    color:gray;
    margin:20px 10px;
}
.footer-content .footer-left a:hover{
    text-decoration:none;
}
.footer-content .footer-right{
    width:25%;
    padding-left:20px;
}
.footer-content .footer-right a{
    color:gray;
    margin: 0 10px;
}
.footer-content .footer-right a:hover{
    color:black;
}
@media screen and (max-width:768px){
    .footer-content .footer-right{
        padding-left:-10px;
    }
    .footer-content .footer-right a{
        margin:0 5px;
    }
    .footer-content .footer-right i{
        width:5%;
    }
}
@media screen and (max-width:576px){
    .footer-content .footer-right a{
        margin:0 3px;
    }
    .footer-content .footer-right a i{
        width:6%;
    }
}
/* -------footer------ */