.Todoitem{
    font-family: 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
    font-weight:300;
    font-size:24px;
    color:gray;
}
.TodoItem-complete{
    text-decoration: line-through;
    opacity: 0.4;
}