.container{
  background-image: url(../../assets/images/436679.png);
  background-repeat: no-repeat;
  top: -18px;
  left: -51px;
  /* width: 1397px;
  height: 786px; */
}

.text-center strong{
  color: white;
}
.one{
  display:flex;
}
