.container{
  background-image: url(../../assets/images/436679.png);
  background-repeat: no-repeat;
}
.row{
  margin : 25px auto;
}
.three{
  padding-bottom : 20px;
}
.four{
  margin-top : -30px;
  padding-bottom : 20px;
}
