<div class="container">

  <div class="text-center">
    <a href="">BIDV</a>
  </div>

  <div class="row one">
    <div class="col-xl-3 col-lg-3 col-md-3">
      <app-account></app-account>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3">
      <app-withdraw></app-withdraw>
    </div>
    <div class="col-xl-6 col-lg-6 col-mg-6">
      <app-event></app-event>
    </div>
  </div>

  <div class="row two">
    <div class="col-xl-3 col-lg-3 col-md-3">
      <app-loan></app-loan>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3">
      <app-investment></app-investment>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3">
      <app-service></app-service>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3">
      <app-update></app-update>
    </div>
  </div>

  <div class="row three">
    <div class="col-xl-4 col-lg-4 col-md-4">
      <app-other></app-other>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4">
      <app-other></app-other>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4">
      <app-other></app-other>
    </div>
  </div>

</div>

<div class="container">
  <div class="row four">
    <div class="col-xl-10 col-lg-10 col-md-10">
      <app-footer-button></app-footer-button>
    </div>
    <div class="col-xl col-lg col-md">
      <app-footer-lang-vi></app-footer-lang-vi>
    </div>
    <div class="col-xl col-lg col-md">
      <app-footer-lang-eng></app-footer-lang-eng>
    </div>
  </div>
</div>
