<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3">
    <button style="margin-left:150px;" class="btn btn-primary" href="#" routerLink="/page1">Back</button>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 text-center">
      <div class="small"></div>
      <div class="small"></div>
      <div class="big"></div>
      <div class="small"></div>
      <div class="small"></div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3">
    <button style="margin-right:40px;" class="btn brn-primary" href="#" routerLink="/page3">Next</button>
  </div>

  <div id="circle"></div>
</div>
