<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-app="myApp">
    <!-- <div ng-controller="myCtrl">
        <a href="" ng-click=changeYourName()>Your name is {{name}}</a>
    </div> -->

    <!-- <div ng-controller="myCtrl">
        <p ng-repeat="name in arrayName">my friends name is : {{name}}</p>
    </div> -->
    <p>the color of rootScope : {{color}}</p>

    <div ng-controller="myCtrl">
        <p>the color of controller :{{color}}</p>
    </div>

    <p>the color of rootScope is still : {{color}}</p>
</body>
</html>