*{
    margin:0;
    padding: 0;
}

/* -----brand------ */
.brand{
    background-color: #F0F0F0;
    display: flex;
    width: 100%;
}
.icon i{
    color:black;
    width:5%;
}
.icon p{
    float: left;
    margin-top:15px;
    margin-bottom:-15px;
    font-size: 35px;
    font-family: 'Baloo Tammudu 2', cursive;
}
.title p{
    float: right;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* -----slogan-------- */
.text-center p{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin:30px auto;
}

/* ----about product---- */
.two-bag{
    margin:10px auto;
    /* display: flex; */
    /* padding-left:185px; */
}
.left-bag{
    margin-left:200px;
}
.left-bag p{
    text-align: left;
}
.right-bag{
    margin-left:-20px;
}
/* -----iphone cases----- */
.iphone-cases{
    margin-left:200px;
    width:64%;
    margin-top:30px;
    padding-top: 15px;
    padding-bottom: 15px;;
    border: 1px solid grey;
    border-left: none;
    border-right: none;
}

/* -----products----- */
.products{
   margin-top:35px;
   padding-left:200px;
}
.products a .about{
    font-size: 14px;
    color:black;
    text-align: left;
}
.products a:hover{
    text-decoration: none;
}
.products .description{
    font-size : 16px;
    color:#E0E0E0;
    text-align: left;
    margin-top:-30px;
}

/* -----final-bag------ */
p .final-bag{
    font-size: 16px;

}
.read-more{
    margin-left:200px;
    color:#DCDCDC;
    font-size: 18px;
    text-decoration: underline;
}
.read-more:hover{
    text-decoration: none;
    color: gray;
}

/* -----footer----- */
/* .footer a{
    color:black;
    font-size : 16px;
    margin: 0 5px;
} */

.footer a {
    padding: 0px 5px;
    color:black;
}
.footer a:hover{
    text-decoration: none;
    color:black;
}