.row{
  background-color: white;
  border:1px solid black;
  border-bottom : none;
  padding : 0;
}
.row .header2-icon p{
  font-size : 22px;
  font-weight: bold;
  margin-top : 5px;
}
.row .header2-text p{
  margin-top : 10px;
  font-size : 18px;
  font-weight: normal;
}
.row .header2-help a p{
  font-size : 16px;
  color:black;
  font-style: normal;
  padding-left : 5px;
  padding-top : 10px;
}
.row .header2-help a:hover{
  text-decoration: none;
}
.row .header2-home a p{
  font-size : 16px;
  color:black;
  font-style: normal;
  padding-left : 5px;
  padding-top : 10px;
}
.row .header2-home a:hover{
  text-decoration: none;
}

