<h3>home component</h3>
<div class="play-container">
  <p>You've clicked <span (click)="countClick()">this </span> {{clickCounter}} times. </p>
</div>
<br/>

<div class="play-container">
  <input type="text" [(ngModel)] = "name">
  <p>You're writting <br/> <strong>{{name}}</strong> </p>
</div>

<br/>
<div class="play-container" [ngStyle]="{
  'background-color': clickCounter > 4 ? 'orange' : 'gray',
  'border': clickCounter > 4 ? '1px solid blue' : '3px solid red'
}" >
  <ng-template [ngIf] = "clickCounter > 4" [ngIfElse]="none">
    <p>The click counter <strong>IS GREATER </strong> than 4.</p>
  </ng-template>
  <ng-template #none>
    <p>The click counter <strong>not greater </strong> than 4.</p>
  </ng-template>
</div>
<br/>
