<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="myCtrl">
        firstName : <input type="text" ng-model="firstname"><br/>
        lastName : <input type="text" ng-model="lastname"><br/>
        <a href="" ng-click=changeFullName()>Your full name is {{fullName}}</a>
    </div>
</body>
</html>