div{
  height : 175px;
  border-radius: 10px;
  background-color: white;
}
.image{
  border-radius: 30px;
}
div img{
  margin-top : 30px;
}
div p{
  margin-top : 30px;
  font-size : 22px;
  color : black;
}
div a:hover{
  text-decoration: none;
}
