*{
	margin:0;
	padding:0;
}
.top{
	display:flex;
	margin-top:40px;
}
.logo{
	width:20%;
	margin-top:20px;
}
.logo a{
	color:black;
}
.logo a:hover{
	color:grey;
	text-decoration:none;
}
.menu{
	width:80%;
}
.col-md-3 a{
	color:black;
}
.col-md-3 a:hover{
	color:grey;
	text-decoration:none;
}
h6, h3{
	margin:25px;
}
h6 a {
	color:gray;
}
h6 a:hover{
	color:black;
	text-decoration:none;
}
.description p{
	margin:25px;
}
.body p{
	margin-top:20px;
}
.row{
	margin-top:20px;
}
.row1:hover{
	color:red;
}
span{
	font-family:regular;
	font-size:30px;
}
.col-md-6 .col-sm-6 > a:hover{
	color:red;
}
.container-fluid{
	background:#D3D3D3;
	margin-top:30px;
}
.col-md-9{
	margin:0 auto;
}
.container-fluid p{
	font-family: regular;
	font-weight:normal;
	text-align:center;
	font-size:25px;
	padding:30px;
}
.container .input{
	text-align:center;
	display:flex;
}
.input img{
	margin-top:40px;
	margin-left:-45px;
	padding:5px;
	margin-bottom:30px;
}
input{
	margin-left:320px;
	width:30%;
	height:50px;
	background:#D3D3D3;
	font-weight:normal;
	border: 0;
	border-bottom: 2px solid gray;
	padding: 1px;
}
.col-md-6 .col-sm-6 p{
	padding-top:10px;
}
button{
	background:white;
	margin-left:450px;
	margin-top:60px;
	text-align:center;
	width:120px;
	height:50px;
}
button:hover{
	color:gray;
	
}
footer{
	/* background:gray; */
	margin-top:30px;
}
footer .container-fluid{
	/* display:flex; */
	background:#f0f0f0;
}
footer .container-fluid .row{
	display:flex;
}
ul{
	display:flex;
}
ul li{
	list-style:none;
}
ul li a{
	margin:10px;
	width:50%;
	color:black;
}
ul li a:hover{
	color:white;
	text-decoration:none;
}
ul li i:hover{
	color:white;
}
.privacy{
	margin-left:70px;
	margin-top:40px;
}
.follow{
	margin:40px;
	margin-top:40px;
	padding-left:600px;
}
@media (max-width:600px) {
	.container-fluid .follow{
		display:block;
		width:50%;
		margin-left:70px;
		margin-top:40px;
	}
}

