.text-center {
  margin-top : 25px;
}
.text-center p.first-line{
  font-size : 20px;
  color:white;
}
.text-center p.second-line{
  font-size : 18px;
  color: white;
  opacity: 0.4;
  margin-top : -10px;
}
.text-center .container{
  width : 70%;
  margin-top : 40px;
  margin-bottom : 140px;
}
