/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');
*{
  font-family: 'Simonetta';
  font-size: 18px;
  font-weight: bold;
}
$primary:rgb(111,0,255);

.container{
  width: 80%;
  margin : 0 auto;
}

header{
  background:$primary;
  padding : 1em 0;

  a{
    color: white;
    text-decoration: none;
  }

  a.logo{
    font-weight: bold;
  }

  nav{
    float:right;

    ul{
      margin : 0;
      display:flex;
      list-style: none;
      li a{
        padding :  1em;
        &:hover{
          background : darken($primary,10%);
        }
      }
    }
  }
}
h1{
  margin-top: 2em;
}
