<!-- form group -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name :
    <input type="text" formControlName="firstName" required />
  </label>

  <label>
    Last Name :
    <input type="text" formControlName="lastName" required />
  </label>

  <div formGroupName="address">
    <h6>Address</h6>

    <label> Street : <input type="text" formControlName="street" /> </label>

    <label> Dist : <input type="text" formControlName="dist" /> </label>

    <label> City : <input type="text" formControlName="city" /> </label>
  </div>
  <p>
    <button type="submit" (click)="updateProfile()">Update</button>
  </p>

  <p>Form Status : {{ profileForm.status }}</p>

  <!-- form array -->

  <div formArrayName="aliases">
    <h6>Aliases</h6>
    <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let alias of aliases.controls; let i = index">
      <label>
        Alias :
        <input type="text" [formControlName]="i" />
      </label>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
