ul.breadcrumb {
    margin-top:20px;
    padding: 10px 10px;
    width:100%;
    list-style: none;
    background:white;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 20px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #060606;
    text-decoration: none;
    font-size:20px;
  }
  ul.breadcrumb li a:hover {
    color: #0DC5ED;
    text-decoration: none;
  }
  @media screen and (max-width: 992px){
      ul.breadcrumb{
          padding:0;
          width:50%;
      }
      ul.breadcrumb li{
      font-size:20px;
      }
      ul.breadcrumb li a{
          font-size:20px;
      }
  }
  @media screen and (max-width: 768px){
      ul.breadcrumb{
          margin-left:20px;
          padding:0;
          width:50%;
      }
      ul.breadcrumb li{
          font-size:18px;
      }
      ul.breadcrumb li a{
          font-size:18px;
      }
  }
  @media screen and (max-width: 576px){
      ul.breadcrumb{
          margin-left:60px;
          width:50%;
      }
      ul.breadcrumb li{
          font-size:16px;
      }
      ul.breadcrumb li a{
          font-size:16px;
      }
  }