.menu{
	display:flex;
	background:#EEEEEE;
}
.menu .logo{
	width:15%;
	margin-top:10px;
}
@media screen and (max-width: 992px){
	.menu .logo{
		display:none;
	}
}
.menu .menu-bar{
	width:60%;
	margin-top:7px;
}
.menu .menu-bar ul{
	display:flex;
}
.menu .menu-bar ul li{
	margin:5px 35px;
	list-style:none;
}
.menu .menu-bar ul li a{
	color:#060606;
	font-size:18px;
}
.menu .menu-bar ul li a:hover{
	text-decoration:none;
	color:#0DC5ED;
}
.menu .search{
	width:25%;
	margin-top:13px;
	position:relative;
}
.menu .search input{
	width:70%;
	border:none;
	outline:none;
	padding:0 5px;
}
.menu .search i{
	position:absolute;
	margin-left:-25px;
	margin-top:5px;
}
@media screen and (max-width: 1200px){
	.menu .menu-bar{
		margin-left:0;
	}
	.menu .menu-bar ul li{
		margin:5px 20px;
	}
	.menu .search input{
		width:80%;
	}
}
@media screen and (max-width: 1024px){
	.menu .search{
		width:28%;
	}
}
@media screen and (max-width: 992px){
	.menu .menu-bar ul li{
		margin:5px 25px;
	}
	.menu .search{
		width:25%;
		margin-left:50px;
	}
	.menu .search input{
		width:100%;
	}

}
@media screen and (max-width: 768px){
	.menu .menu-bar{
		width:100%;
	}
	.menu .menu-bar ul li{
		margin:5px 30px;
		margin-left:45px;
	}
	.menu .menu-bar ul li a{
		font-size:18px;
	}
	.menu .search{
		width:33%;
		margin-top:50px;
		margin-bottom:20px;
		margin-left:-500px;
	}
	.menu .search input{
		width:100%;
	}
	.menu .search i{
		position:absolute;
		margin-left:-25px;
		margin-top:5px;
	}
}
@media screen and (max-width: 576px){
	.menu p.icon{
		width:40%;
	}
	.menu .menu-bar{
		width:100%;
	}
	.menu .menu-bar ul li{
		margin:0 8px;
		padding-left:25px;
	}
	.menu .menu-bar ul li a{
		font-size:16px;
	}
	.menu .search{
		margin-left:-380px;
		width:40%;
		margin-top:50px;
	}
	.menu .search input{
		width:100%;
	}
}
@media screen and (max-width: 414px){
	.menu .menu-bar ul li{
		margin:0 3px;
		padding-left:10px;
	}
	.menu .search{
		margin-left:-320px;
		width:60%;
	}
	
}
@media screen and (max-width: 375px){
	.menu .menu-bar ul li{
		margin:0 3px;
		padding-left:3px;
	}
	.menu .search {
		margin-top:45px;
		margin-left:-300px;
		width:65%;
	}
}
@media screen and (max-width: 320px){
	.menu .menu-bar ul li{
		margin:0 10px;
	}
	.menu .menu-bar ul li a{
		font-size:12px;
	}
	.menu .search{
		margin-top:75px;
		margin-left:-270px;
		width:80%;
	}
}