.new-products {
	margin-top:80px;
	background:#EEEEEE;
}
.new-products .img{
	margin-top:30px;
}
.new-products h3{
	text-align:center;
	font-size: 34px;
	margin:5px 0;
	font-weight:bold;
}
.new-products p{
	font-size:14px;
	margin-top:10px;
	line-height:7px;
}
.new-products input{
	background:#0DC5ED;
	border:none;
	margin-bottom:30px;
}
.new-products p.new-products-price{
	font-size:20px;
	color:#0DC5ED;
}
@media screen and (max-width: 1024px){
	.new-products p{
		font-size:14px;
		line-height:16px;
	}
	.new-products p.new-products-price{
		font-size:18px;
	}
}
@media screen and (max-width: 992px){
	.new-products p{
		font-size:20px;
		line-height:20px;
	}
}
@media screen and (max-width: 768px){
	.new-products p{
		font-size:20px;
		line-height:20px;
	}
}
@media screen and (max-width: 576px){
	.new-products p{
		font-size:20px;
		line-height:20px;
	}
}