ul.breadcrumb {
  margin-left:-10px;
  margin-top:20px;
  padding: 10px 10px;
  width:100%;
  list-style: none;
  background:white;
}
@media screen and (max-width: 768px){
	ul.breadcrumb{
		margin-left:-180px;
	}
}
@media screen and (max-width: 576px){
	ul.breadcrumb{
		margin-left:-240px;
		width:150%;
	}
}
@media screen and (max-width: 375px){
	ul.breadcrumb{
		margin-left:-230px;
	}
}
/* -----breadcrumb------ */

.main .locSanPham{
	background:#555555;
	width:80%;
}
.main .filter{
	padding-left:10px;
	margin-top:55px;
}
.main h4{
	padding-top:15px;
	margin-left:10px;
	font-size:26px;
	color:#0DC5ED;
	font-weight:bold;
}
.main .locSanPham{
	/* margin-left:-15px; */
}
.main .locSanPham ul li{
	display:block;
	margin-left:10px;
	line-height:30px;
}
.main .locSanPham ul li a{
	font-size:22px;
	color:#EEEEEE;
}
.main .locSanPham ul li a:hover{
	color:#0DC5ED;
	text-decoration:none;
}
.main .locSanPham ul li.theLoai{
	/* font-size:20px; */
	color:#EEEEEE;
}
.main .locSanPham ul li.theLoai ul li a{
	font-size:16px;
}
.main .locSanPham ul li.xuatXu{
	font-size:20px;
	color:#EEEEEE;
}
.main .locSanPham ul li.xuatXu ul li a{
	font-size:16px;
}
.main .locSanPham .sale-off img{
	margin-left:5px;
}
.main .locSanPham .book-day img{
	margin-left:10px;
}
@media screen and (max-width: 1200px){
	.main .locSanPham{
		width:100%;
	}
}
@media screen and (max-width: 992px){
	.main h4{
		margin-left:0;
	}
	.main .locSanPham{
		/* width:125%; */
	}
}
@media screen and (max-width: 768px){
	.main h4{
		margin-left:0;
		font-size:18px;
	}
	.main .book-day{
		/* display:none; */
	}
}
@media screen and (max-width: 576px){
	.main h4{
		margin-left:0;
		font-size:16px;
	}
}
/* -------loc-san-pham--------- */

.main .products h6{
	text-align:left;
	margin-left:0px;
	font-size:24px;
	margin-bottom:5px;
	font-weight:bold;
	margin-top:40px;
}
.main  img{
	margin-top:30px;
}
.main .products p{
	margin-top:10px;
	font-size:18px;
	line-height:5px;
}
.main .products p.price{
	color:#0DC5ED;
}
@media screen and (max-width: 768px){
	.main .products{
		/* margin-left:-100px; */
	}
	.main .products p{
		font-size:16px;
		line-height:10px;
		margin-top:5px;
	}
}
@media screen and (max-width: 576px){
	.main .products{
		/* margin-left:20px; */
	}
	.main .products p{
		font-size:14px;
		line-height:10px;
		margin-top:5px;
	}
}
.icon{
	display:flex;
	margin-top:-15px;
}
.icon .cart{
	margin-top:22px;
	margin-left:15px;
}
.star{
	color:yellow;
}
.fa-cart-plus {
	margin-bottom:30px;
	color:#DF0029;
	margin-top:-15px;
	position: absolute;
}
.text-center{
	margin-top:20px;
	margin-bottom:20px;
}

.back-to-top{
	position:fixed;
	right:60px;
	bottom:20px;
}
.back-to-top i{
	color:#0DC5ED;
}
/* -----the-end----- */




