<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-app="myapp">
        <div ng-controller="myController">
            <h2>nhap noi dung thong bao : </h2>
            <input type="text" ng-model="name">
            <h2>noi dung thong bao la : </h2>
            <h3 ng-bind='name'></h3>
            <h4>nhap noi dung ban can hien thi : </h4>
            <input type="text" ng-model="touch">
            <h4>noi dung ban vua go la : </h4>
            <span ng-bind='touch'></span>
        </div>
    </div>

    <script src="angular.min.js"></script>
    <script>
        angular.module('myapp',[]).controller('myController',function ($scope){

        });
    </script>
</body>
</html> -->


<!-- ng-init--------ve xem lai tai lieu hoac video ve init directive -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-app="myapp">
        <div ng-controller="myController">
            <div ng-init="Demo= 'chua hieu ng-init cho lam' "> {{Demo}} </div>
            {{Demo}}
        </div>
    </div>

    <script src="angular.min.js"></script>
    <script>
        angular.module('myapp',[]).controller("myController",function ($scope){

        });
    </script>
</body>
</html> -->


<!-- <!doctype html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <title>Ví dụ sử dụng Directive ng-init Freetuts.net</title>
    </head>
    <body ng-app="ngInit" ng-author="thehalfheart@gmail.com" ng-website="freetuts.net">
        <div ng-controller="myController">
            <ul ng-init="
                students = [
                    {name: 'thehalfheart@gmail.com', age: 25, gender: 'boy'},
                    {name: 'freetuts.net', age: 30, gender: 'girl'},
                    {name: 'Johanna', age: 28, gender: 'girl'},
                    {name: 'Joy', age: 15, gender: 'girl'},
                    {name: 'Mary', age: 28, gender: 'girl'},
                    {name: 'Peter', age: 95, gender: 'boy'},
                    {name: 'Sebastian', age: 50, gender: 'boy'},
                    {name: 'Erika', age: 27, gender: 'girl'},
                    {name: 'Patrick', age: 40, gender: 'boy'},
                    {name: 'Samantha', age: 60, gender: 'girl'}
                ]
            ">
                <li ng-repeat="student in students">
                    Tên: {{student.name}}, Tuổi {{student.age}}, Giới tính: {{student.gender}}
                </li>
            </ul>
        </div>

        <script src="angular.min.js"></script>
        <script>
            angular.module('ngInit', [])
                    .controller('myController', ['$scope', function($scope) {
                }]);
        </script>
    </body>
</html> -->


<!-- tu dinh nghia directives -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-app='myapp'>
        <div ng-controller='myController'>
            <div my-directive>

            </div>
        </div>
    </div>

    <script src="angular.min.js"></script>
    <script>
        angular.module('myapp',[]).controller('myController',function (){

        }).directive('myDirective',function (){
            return {
                template : 'I created this directive'
            }
        });
    </script>
</body>
</html> -->