@media screen and (max-width: 576px){
	.header-top{
		width:120%;
	}
	.menu{
		width:120%;
	}
	.menu p.icon{
		width:40%;
	}
	.menu .menu-bar ul li{
		margin:auto 5px;
	}
	.menu .search{
		left:-60px;
		width:50%;
	}
}

ul.breadcrumb {
  margin-top:20px;
  padding: 10px 10px;
  width:100%;
  list-style: none;
  background:white;
}
@media screen and (max-width: 768px){
	ul.breadcrumb{
		padding-left:150px;
	}
}
@media screen and (max-width: 375px){
	ul.breadcrumb{
		margin-left:-100px;		
	}
}
/* -----breadcrumb------- */

.contact h6{
	font-size:26px;
	font-weight:bold;
	color:#0DC5ED;
}
.contact .name{
	display:flex;
}
.contact .feed-back p{
	font-size:18px;
	line-height:40px;
	margin-right:20px;
}
.contact .phone{
	display:flex;
}
.contact .email{
	display:flex;
}
.contact .feed-back h6{
	margin-top:10px;
}
.contact .feed-back p{
	padding-right:-20px;
}
.contact .feed-back input{
	margin-top:5px;
	height:30px;
	margin-left:-60px;
	background:#EEEEEE;
	border:none;
	padding:10px;
	outline:none;
	width:60%;
}
.contact .feed-back input[type=text]{
	color:#171717;
}
@media screen and (max-width: 992px){
	.contact .feed-back input{
		width:100%;
	}
}
@media screen and (max-width: 768px){
	.contact .feed-back p{
		margin-bottom:-10px;
	}
	.contact .feed-back input{
		margin-left:0;
		width:100%;
		font-size:16px;
	}
}
@media screen and (max-width: 576px){
	.contact .feed-back input{
		width:40%;
	}
}
.contact .feed-back .typing input{
	margin-left:-10px;
	height:200px;
	width:100%;
	padding-right:20px;
	padding-bottom:150px;
	outline:none;
}
.contact .feed-back .text-left input{
	margin-left:-10px;
	background:#0DC5ED;
	height:40px;
	width:30%;
	margin-top:20px;
	margin-bottom:10px;
}
@media screen and (max-width: 768px){
	
}
/* -------contact--------- */


.google-map{
	margin-top:40px;
	margin-bottom:-150px;
}
.google-map h6{
	font-size:25px;
	color:#0DC5ED;
	margin-left:550px;
}
.google-map #map{
	width:800px;
	height:500px;
	margin-left:500px;
}
@media screen and (max-width: 1200px){
	.google-map h6{
		margin-left:240px;
	}
	.google-map #map{
		margin-left:200px;
	}
}
@media screen and (max-width: 992px){
	.google-map h6{
		margin-left:150px;
	}
	.google-map #map{
		margin-left:120px;
	}
}
@media screen and (max-width: 768px){
	.google-map h6{
		margin-left:150px;
	}
}
@media screen and (max-width: 576px){
	.google-map h6{
		margin-left:50px;
	}
	.google-map #map{
		width:50%;
		margin-left:0px;
		/* width:10%; */
	}
}
@media screen and (max-width: 576px){
	.google-map #map{
		width:20%;
	}
	.footer{
		width:120%;
	}
}



