 ul.breadcrumb {
  margin-left:-10px;
  margin-top:20px;
  padding: 10px 10px;
  width:100%;
  list-style: none;
  background:white;
}
/* -----breakcrumb--------- */

.gioiThieuSach .about-book{
	margin-left:-50px;
}
.gioiThieuSach .about-book p{
	margin-top:10px;
	font-size:18px;
	line-height:18px;
}
.gioiThieuSach .infor-book h4{
	margin-top:-50px;
	margin-left:-120px;
}
.gioiThieuSach .infor-book p{
	font-size:20px;
	line-height:22px;
	margin-left:-120px;
}
.gioiThieuSach .about-book input{
	background: #F21F1F;
	border:none;
}
.gioiThieuSach .about-book input:hover{
	background:#0DC5ED;
}
@media screen and (max-width: 1200px){
	.gioiThieuSach .about-book{
		margin-left:-30px;
	}
	.gioiThieuSach .infor-book h4{
		margin-top:-50px;
		margin-left:0px;
	}
	.gioiThieuSach .infor-book p{
		font-size:18px;
		line-height:22px;
		margin-left:0px;
	}
}
@media screen and (max-width: 992px){
	.gioiThieuSach .about-book{
		margin-left:-20px;
	}
	.gioiThieuSach .about-book p{
		font-size:16px;
		line-height:16px;
	}
	.gioiThieuSach .about-book p{
		font-size:18px;
		line-height:18px;
	}
	.gioiThieuSach .infor-book h4{
		margin-top:-50px;
		margin-left:0px;
		font-size:18px;
	}
	.gioiThieuSach .infor-book p{
		font-size:16px;
		line-height:22px;
		margin-left:0px;
	}
}
@media screen and (max-width: 768px){
	.gioiThieuSach .about-book{
		margin-left:0px;
	}
	.gioiThieuSach .about-book p{
		font-size:16px;
		line-height:16px;
	}
	.gioiThieuSach .infor-book h4{
		margin-top:-50px;
		margin-left:100px;
	}
	.gioiThieuSach .infor-book p{
		font-size:16px;
		line-height:16px;
	}
}
@media screen and (max-width: 576px){
	.gioiThieuSach .about-book{
		margin-left:20px;
	}
	.gioiThieuSach .about-book p{
		font-size:14px;
		line-height:14px;
	}
	.gioiThieuSach .infor-book h4{
		margin-top:10px;
		margin-left:50px;
	}
	.gioiThieuSach .infor-book p{
		font-size:14px;
		line-height:20px;
	}
}
/* -------gioiThieuSach------ */

.comment{
	margin-top:40px;
}
.comment h5{
	margin:20px 0;
}
.comment .your-comment input{
	width:100%;
	/* border:none; */
	outline:none;
}
.comment button{
	background:#0DC5ED;
	border:2px solid gray;
	outline:none;
	padding:4px;
	margin-left:95px;
}
.comment button:hover{
	background:#F21F1F;
}
@media screen and (max-width: 992px){
	.comment button{
		margin-left:80px;
	}
}
@media screen and (max-width: 768px){
	.comment .your-comment input{
		width:80%;
		margin-left:20px;
	}
	.comment button{
		margin-left:
	}
}
@media screen and (max-width: 576px){
	.comment .your-comment input{
		width:80%;
		margin-top:20px;
		margin-left:0px;
	}
	.comment button{
		margin-top:10px;
		margin-left:0;
	}
}
