ul.breadcrumb {
  margin-left:-10px;
  margin-top:20px;
  padding: 10px 10px;
  width:100%;
  list-style: none;
  background:white;
}
/* -----breadcrumb------ */


.main .locSanPham{
	background:#171717;
}
.main h4{
	padding-top:15px;
	margin-left:10px;
	font-size:24px;
	color:#0DC5ED;
	font-weight:bold;
}
.main .locSanPham{
	margin-left:-15px;
}
.main .locSanPham ul li{
	display:block;
	margin-left:25px;
	line-height:30px;
}
.main .locSanPham ul li a{
	font-size:20px;
	color:#EEEEEE;
}
.main .locSanPham ul li a:hover{
	color:#0DC5ED;
	text-decoration:none;
}
.main .locSanPham ul li.theLoai{
	font-size:20px;
	color:#EEEEEE;
}
.main .locSanPham ul li.theLoai ul li a{
	font-size:16px;
}
.main .locSanPham ul li.xuatXu{
	font-size:20px;
	color:#EEEEEE;
}
.main .locSanPham ul li.xuatXu ul li a{
	font-size:16px;
}
@media screen and (max-width: 992px){
	.main h4{
		margin-left:0;
	}
}
@media screen and (max-width: 768px){
	.main h4{
		margin-left:0;
		font-size:18px;
	}
	.main .locSanPham{
		display:none;
	}
	.main .sale-off img{
		display:none;
	}
	.main .book-day img{
		display:none;
	}
}
@media screen and (max-width: 576px){
	.main h4{
		margin-left:0;
		font-size:16px;
	}
	.main .locSanPham ul li{
		margin-left:10px;
		line-height:20px;
	}
	.main .locSanPham ul li a{
		font-size:14px;
	}
	.main .locSanPham ul li.theLoai{
		font-size:14px;
	}
	.main .locSanPham ul li.xuatXu{
		font-size:14px;
	}
}
.main .sell-off img{
	margin:30px -15px;
}
.main .book-day img{
	margin:30px -15px;
}
/* -------loc-san-pham--------- */

.main .row .locSanPham{
	margin-top:48px;
}
.main .products h6{
	text-align:left;
	margin-left:0px;
	font-size:24px;
	margin-bottom:5px;
	font-weight:bold;
	margin-top:40px;
}
.main  img{
	margin-top:30px;
}
.main .products p{
	margin-top:10px;
	font-size:18px;
	line-height:5px;
}
@media screen and (max-width: 768px){
	.main .products p{
		font-size:16px;
		line-height:10px;
		margin-top:5px;
	}
	.main .products input{
		margin-left:400px;
	}
}
@media screen and (max-width: 576px){
	.main .products p{
		font-size:14px;
		line-height:10px;
		margin-top:5px;
	}

}
.star{
	color:yellow;
}
.fa-cart-plus {
	margin-bottom:30px;
	color:red;
	margin-top:-15px;
	position: absolute;
}
.text-center{
	margin-top:20px;
	margin-bottom:20px;
}