.navbar{
    width:100%;
}
.navbar a.navbar-brand{
    font-size:30px;
    margin-left:-5px;
}
.navbar ul{
    padding-left:250px;;
}
.navbar .collapse ul li a{
    margin-left:60px;
    font-size: 16px;
    font-family: 'playfair_display';
}
@media screen and (max-width:1200px){
    .navbar ul{
        padding-left:200px;
    }
    .navbar .collapse ul li a{
        margin:0 15px;
    }
}
@media screen and (max-width:992px){
    .navbar ul{
        padding-left:120px;
    }
    .navbar a.navbar-brand{
        margin-left:-40px;
    }
    .navbar .collapse ul li a{
        margin:0 10px;
        left:100px;
    }
}
@media screen and (max-width:768px){
    .navbar ul{
        padding-left:20px;
    }
    .navbar a.navbar-brand{
        margin-left:-30px;
    }
    .navbar .collapse ul li a{
        margin:0 3px;
        font-size:14px;
    }
}
@media screen and (max-width:576px){
    .navbar ul{
        padding-left:10px;
    }
}